#search_bar_icon {
    padding-right: 10px;
}


#search_bar_label .form-control:focus {
    /*border-color: #FF312E;*/
}

#ip:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.profil-social-btn:hover {
    background-color: red;
}

.social-btn:hover {
    background-color: red;
}

#test-btn .btn btn-link text-white:hover {
    background-color: red;
}

#social_btn > button {
    background-color: yellow;
}

#social_btn > a > i {
    background-color: #FF312E;
}

a {
    color: white;
}

a:hover {
    color: #FF312E;
}

#profile_img {
    border-radius: 150px;
    border: 221px solid #FF312E;
}


#profile_col {
    border: 1px solid #FF312E;
    border-radius: 15px;
}

#teamlogo_col {
    border: 3px solid #FF312E;
    border-radius: 15px;
}

#social_media_icon_container table {
    border-radius: 15px;
    border-spacing: 0;
    background-color: #171617;
}



.icon_grow {

    /* transition: all .1s ease-in-out;*/
    width: 30px;
    height:30px;

}

.icon_grow:hover{

    transform: scale(1.2);

}

.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

#member_table > table > tbody > tr > td:hover {
    background-color: #ff312e;
}

#profile_settings_form button {
    background-color: #ff312e;
}

#profile_settings_form_container input:focus {
    border-color: white;
    box-shadow: 0 0 0 .1rem #ff312e;
}

#profile_settings_form_container textarea:focus {
    border-color: white;
    box-shadow: 0 0 0 .1rem #ff312e;
}

#match_result_table tbody {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* Erics allgemeine Styles */
.colum_content_big {
    background-color: #474B4F;
    margin-top: 50px;
    margin-bottom: 50px;
}

.colum_content_small {
    background-color: #474B4F;
    margin-top: 75px;
    margin-bottom: 75px;
}

.nadestack_form {
    background-color: #474B4F;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto';
}

.nadestack_heading_one {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.8em;
}

.nadestack_heading_two {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6em;
}

.nadestack_heading_three {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.4em;
}

.nadestack_heading_four {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.3em;
}

.nadestack_body {
    background-color: #222629;
    font-family: Roboto;
    color: white;
}

.nadestack-first-element {
    padding-top: 18px;
}

.nadestack-last-element {
    padding-bottom: 18px;
}

.nadestack-settings-div {
    background-color: #474B4F;
    padding-top: 15px;
    padding-bottom: 15px
}

/* Lukes Styles, vor allem für Profilseiten */


.nadestack-tbl {
    color: white;
    font-style: normal;
    align-items: center;
    border-top: hidden;
}
.nadestack-tbl-noborder tr {
    color: white;
    border: hidden;
    border-collapse: collapse;
    font-style: normal;
    align-items: center;
}
.nadestack-tbl td {
    vertical-align: middle;
}
.nadestack-tbl-td-data {
    text-align: right;
    padding-right: 50px;
}
.nadestack-nav {
    display: flex;
    justify-self: center;
}

.nadestack-row {
    flex-direction: column;
}
.nadestack-heading {
    padding-top: 15px;
}
.icons-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.nadestack-line {
    border-top: 1px solid #dee2e6;
    margin-bottom: 25px;
}
.icons {
    width: 30px;
    height: 30px;
}
.icons:hover {

}
.nadestack-profileview {
    align-items: center;
}
.player-pic-small {
    height: 50px;
    width: 50px;
}
.player-pic-small:hover {
    border: 2px solid #ff312e;
}
.team-pic-big {
    height: 100px;
    width: 100px;
    margin-top: 40px;
}
.team-pic-big:hover {
    border: 2px solid #ff312e;
}
.player-pic-big{
    height: 100px;
    width: 100px;
    margin-top: 40px;
}

.matchstats{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Luke ende */

.nadestack_table table > tbody {
    text-align: center;
}

.nadestack_table table > tbody > tr > td:hover {
    background-color: #ff312e;
}

.nadestack_table table {
    background-color: #171617;
    color: white;
    text-align: center;
    border: none;
}

#advanced_stats_container table, tr, td {
    border: none;
}

#advanced_stats_table {
    width: 100%;
}

#advanced_stats_table th {
    text-align: left;
    width: 50%;
}

#advanced_stats_container {
    margin-top: 20px;
}

.nadestack_btn {
    color: white;
    background-color: #FF312E;
    box-shadow: 0 0 0 #ff312e;
    border: none;
    border-radius: 5px;
}

.nadestack_btn:hover {
    color: white!important;
    background-color: #BA2422!important;
}

.nadestack_btn:focus {
    background-color: #5D1211!important;
    box-shadow: 0 0 0;
}

#comment_submit_btn {
    margin-top: 20px;
}

#remove_map_btn {
    margin-bottom: 20px;
}

.comment_header {
    color: white;
    border-top: 1px solid #FF312E;
    border-bottom: 1px solid #FF312E;
    border-left: 1px solid #FF312E;
    border-right: 1px solid #FF312E;
    background-color: #171617;
}

#news_container {
    border-bottom: 1px solid white;
    padding-top: 10px;
}

#news_container table {
    border-top: 0px solid white;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border: none;
}

.nadestack_btn:active {
    background-color: #460E0D!Important;
    border: none!Important;
    box-shadow: 0 0 0!Important;
}

.rule_btn {
    border-bottom: 1px solid white!Important;
}

label.error{
    color: red;
    font-size: 11px;
}


.selected_map {
    background-color: #FF312E;
}


/*If Map is already taken we apply the unselect Class*/

.unselectable{
    cursor: not-allowed;
    filter: grayscale(100%);
    background-color:green;

}

/* Filter search results */
.filter select {
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px #aaa;
    margin: 10px;
    background: #eee;
}

.filter {
    text-align: center;
}

.filter input {
    margin: 30px;
    width: 60%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #eee;
}



/* Changes an Image to Black and White  */
.black_and_white_img {


    filter: grayscale(100%);
}



.social_icon_size {

    width: 30px;
    height:30px;


}



/*-------BEGINN MYLEAGUE STYLE*/

.nadestack-list-ul{
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0;
    flex-wrap: wrap;
}
.player-li-entry{
    flex-shrink: 0;
    border: 2px solid #f2f2f2;
    padding-top: 40px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    height: 120px;
}
.player-container-li{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px;
    border-radius: 80px;
    overflow: hidden;

}
.player-container-btn{
    position: absolute;
    bottom: -15px;
    border-radius: 80px;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-size: .625rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
/* As soons as the display resoultion is above 750px the list 'transforms' that everything is a row */
@media (min-width:750px){
    .player-li-entry{
        width: 18%;
    }
    .nadestack-list-ul{
        display: flex;
    }
}

/*-------END MYLEAGUE STYLE */


/* Begin NAVBAR-Styling */
.nadestack-dropdown-menu{
    background-color: #1C2022;
    border: 1px solid #222629;
}
.nadestack-dropdown-menu a{
    color: white;
}
.nadestack-dropdown-menu a:hover{
    background-color: #1C2022;
    color:#FF312E;
    font-weight: 900;
}
.nadestack-dropdown-menu div{
    color: white;
}
.nadestack-dropdown-menu div:hover{
    background-color: #1C2022;
    color: white;
}
.nadestack-dropdown-menu div p:hover{
    color:#FF312E;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.nadestack-second-menu{
    font-size: 20px;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:transparent !important;
}
/* sets the new cancel button on the search bar */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    background: url("../svg/cancel.svg");
    background-size: 13px;
}
.nadestack-navbar-icon{
    margin-right: 7.5px;
    height: 20px;
    width: 20px;

}
/*Sets the border color/shadow of the searchbar*/
.nadestack-navbar-search:focus {
    border-color: #FF312E;
    outline: 0;
    -webkit-box-shadow: 0.75px 0.75px 0.75px 0.75px rgba(255,49,46,1);
}

/*Styles the Icons in the Usermenu*/

.nadestack-usermenu-icon {


    padding-left:5px;
}



/* End NAVBAR-Styling*/

.rulesetparagraph {
    text-indent : 3em;
}

/* Start of legaueoverview */


.nadestack-divisions li{
    display: inline-block;
    padding: 5px 5px 0 0;

}
.nadestack-divisions li a{
    text-align: center;
    padding: 10px 0;
    width: 145px;
    overflow: hidden;
    color: white;
    background: #222629;
}
.nadestack-division li a:hover{
    color:#FF312E ;
}
/* all groups of on divison e.g. Starter Div */
.division-groups li a{
    display: block;
}
/* Center all divisions of a season */
.divisions {
    text-align: center;
}

.divisions li{
    display: block;

}
.divisions li a{
    display: inline-block;
}

/* End of leagueoverview */

/* Begin of styling for profilesettingssite */
.nadestack-info-button{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
/*  End of styling for profilesettingssite*/

/* Start Calender widget styling for leaguestyling */
.row-striped:nth-of-type(n){
    background-color: #131517;
    border-bottom: 2px #FF312E solid;
}

.row-striped {
    padding: 15px 0;
}
/* End Calender widget styling for leaguestyling */

/* Start of Forum Styling */

.forum-post-container .media {
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #f1f1f1;
}
.forum-avatar {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 110px;
}
.forum-avatar .img-circle {
    height: 48px;
    width: 48px;
}
.author-info {
    color: #676a6c;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
.forum-post-info {
    padding: 9px 12px 6px 12px;
    /* background: #f9f9f9; */
    border: 1px solid #f1f1f1;
}
.media-body > .media {
    /* background: #f9f9f9; */
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}
.forum-post-container .media-body .photos {
    margin: 10px 0;
}
.forum-photo {
    max-width: 140px;
    border-radius: 3px;
}
.media-body > .media .forum-avatar {
    width: 70px;
    margin-right: 10px;
}
.media-body > .media .forum-avatar .img-circle {
    height: 38px;
    width: 38px;
}
.mid-icon {
    font-size: 66px;
}
.forum-item {
    margin: 10px 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid #f1f1f1;
}
.views-number {
    font-size: 24px;
    line-height: 18px;
    font-weight: 400;
}
.views-number-description{
    padding-top: 5px;
}

@media (max-width: 1760px){

    .views-number {
        font-size: 18px;
    }
    .views-number-description{
        font-size: 12px;
    }
    .forum-sub-title{
        font-size: 14px;
    }

}
@media (max-width: 1199px){

    .views-number {
        font-size: 24px;
    }
    .views-number-description > small{
        font-size: 12.8px;
    }
    .forum-sub-title{
        font-size: 20px;
    }


}

.forum-container,
.forum-post-container {
    padding: 30px !important;
}
.forum-item small {
    color: #FF312E;
}
.forum-item .forum-sub-title {
    margin-left: 50px;
}
.forum-title {
    margin: 15px 0 15px 0;
}
.forum-info {
    text-align: center;
}
.forum-desc {
    color: #FF312E;
}
.forum-icon {
    float: left;
    width: 30px;
    margin-right: 20px;
    text-align: center;
}
a.forum-item-title {
    color: inherit;
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #FF312E;
}
a.forum-item-title:hover {
    color: inherit;
}
.forum-icon .fa {
    font-size: 30px;
    margin-top: 8px;
    color: #FF312E;
}
.forum-item.active .fa {
    color: #FF312E;
}
.forum-item.active a.forum-item-title {
    color: #FF312E;
}
@media (max-width: 992px) {
    .forum-info {
        margin: 15px 0 10px 0;
        /* Comment this is you want to show forum info in small devices */
        display: none;
    }
    .forum-desc {
        float: none !important;
    }
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /* background-color: #ffffff; */
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    /* background-color: #ffffff; */
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    /* background: #ffffff; */
    padding: 10px 15px;
}

.message-input {
    height: 90px !important;
}
.m-b-sm {
    margin-bottom: 10px;
}


/*End of Forum Styling*/

/*Start of Thread Oveview Styling*/
.nadestack-thread-heading{
    color: #FF312E;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

.nadestack-thread-icon{
    margin-right: 5px;
    font-size: 35px;
}
/*End of Thread Oveview Styling*/
/*Start of Timeline Styling*/

.main-timeline{
    position: relative;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    margin: 0 0 20px 20px;
    float: right;
}
.main-timeline .timeline-content{
    color: #fff;
    background: #eb273e;
    text-align: center;
    padding: 15px 15px 15px 100px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    color: #131517;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 130px;
    width: 130px;
    height: 100%;
    border-radius: 98px 0 0 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    position: absolute;
    left: -130px;
    top: 0;
}
.main-timeline .timeline-icon{
    color: #fff;
    font-size: 50px;
    transform: translateY(-50%);
    position: absolute;
    left: 30px;
    top: 50%;
}
.main-timeline .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: left;
    margin: 0 20px 20px 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 15px 100px 15px 15px;
    border-radius: 20px 0 0 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right:auto;
    left:0;
    clip-path: polygon(0 0, 100% 100%, 65% 0);
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: -130px;
    border-radius:0 98px 10px 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: 30px;
    left: auto;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
    background: #131517;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ color: #131517 }
.main-timeline .timeline:nth-child(4n+3) .timeline-content{
    background: #eb273e;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ color: #131517 }
.main-timeline .timeline:nth-child(4n+4) .timeline-content{
    background: #131517;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ color: #131517 }
@media screen and (max-width:767px){
    .main-timeline .timeline{
        width: 100%;
        padding: 50px 0 0 0;
    }
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 20px 15px 20px 60px;
        border-radius: 0 20px 20px 20px;
    }
    .main-timeline .timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        font-size: 25px;
        border-radius: 15px 15px 0 0;
        box-shadow: none;
        width: 100px;
        height: 50px;
        line-height: 50px;
        top: -50px;
        left: 0;
    }
    .main-timeline .timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        font-size: 28px;
        left: 15px;
        right: auto;
    }
}
@media screen and (max-width:576px){
    .main-timeline .title{ font-size: 18px; }
}

/*End of Timeline Styling*/


/* Begin Team-Styling */


.modal-content {

    background-color:#474B4F;
}

.modal-header >  button{

    background-color:#BA2423;
    size: 4px;


}

/*End Team-Styling */

/*Start of Pagenavigator Styling*/
.nadestack-pagination .page-item .page-link{
    color: white;
    background: #FF312E;
}
.nadestack-pagination .page-item.active .page-link{
    color: white;
    background: #880F0E;
    border-color:white;
}
/*End of Pagenavigator Styling*/

/*Start of styling for the footer*/

.nadestack-footer{
    background-color: #1c2022 !important;
    padding: 25px 0 !important;
    display: table-row;
    height: 1%;
}
.nadestack-footer footer{
    padding: 25px 0 !important;
}

.nadestack-footer ul{
    display: flex;
    justify-content: center;
    padding-bottom: 5px !important;
    list-style-type: initial !important;
    list-style-position: inside !important;
}
.nadestack-footer  ul  li {
    padding: 0px 5px 10px 5px;
}
.nadestack-footer ul  li  a{
    margin-left: -10px;
}
@media(max-width: 765px){
    .nadestack-footer ul{
        display: grid;
    }
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
/*shoutouts to https://stackoverflow.com/a/25218797/6904703*/
/*End of stying for the footer*/

/*Start of stying for the league widget*/
.nadestack-league-widget{
    border: 3px solid #303436;
    padding: 10px;
    margin: 5px 0 5px 0;
}
.nadestack-league-widget .widget-title{
    display: flex;
    align-items: center;
}
.nadestack-league-widget .widget-title::before, .nadestack-league-widget .widget-title::after{
    content: "";
    flex-grow: 1;
    height: 3px;
    background: #FF312E;
}

.nadestack-league-widget .widget-title h3{
    padding: 0 10px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #FF312E;;
}
.nadestack-league-widget p {
    margin: 15px;
    text-align: left;
}

.nadestack-league-widget div {
    text-align: center;
}
.nadestack-league-widget button {
    min-width: 100px;
    text-transform: uppercase;
}
/*End of stying for the league widget*/


